.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-size: 1rem;
  background-color: #50c878;
}

.header h2 {
  text-align: center;
}

.icons_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
